# R session files
.Rproj.user/
.Rproj
.Rhistory
.RData
.Ruserdata

# R package build files
.Rbuildignore

# macOS system files
.DS_Store
*/.DS_Store

# Compiled files
*.o
*.so
*.dll

# R package check results
.Rcheck/

# Temporary files
*.log
*.out
*.aux

# Dependency management
packrat/
renv.lock
